.profile-container {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow-x: auto; /* Ensure the container can handle overflow */
    max-width: 100%; /* Make sure it doesn't exceed the viewport width */
}

.data-table {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    width: 100%; /* Ensure the table takes the full width of the container */
    max-width: 100%; /* Prevents the table from exceeding the container width */
}

.data-table::-webkit-scrollbar {
    display: none; /* Hides the scroll bar in webkit browsers (Chrome, Safari) */
  }    

.data-table .rdt_TableHead {
    background-color: #e0e0e0;
}

.data-table .rdt_TableHead .rdt_TableCol {
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

.data-table .rdt_TableBody {
    background-color: #fff;
    /* display: flex;
    gap: 10px; */
}

.data-table .rdt_TableRow {
    border-bottom: 1px solid #ddd;
}

.data-table .rdt_TableRow:hover {
    background-color: #f1f1f1;
}

.data-table .rdt_TableCell {
    font-size: 14px;
    padding: 10px 10px;
    word-wrap: break-word; /* Ensure long words break to avoid overflow */
}

.data-table .rdt_TableCell img {
    width: 100px;
    height: auto;
}

.data-table .description-cell {
    max-width: 150px; /* Adjust based on your layout */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

.data-table .actions-button {
    width: 500px;
    display: flex;
    gap: 10px;
}

.data-table .actions-button button {
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
}

.data-table .actions-button button.view {
    background-color: rgb(95, 95, 195);
}

.data-table .actions-button button.edit {
    background-color: #ffc107;
}

.data-table .actions-button button.delete {
    background-color: #dc3545;
}